@import url("slides1.css"); /*css for the js slider thing*/
@import url("slides2.css");
@import url("font-awesome.min.css");

@import url("subpage.css"); /*css for pages besides homepage*/

*{
	font-family:Verdana, Helvetica, sans-serif;
}

html, body{
	margin: 0;
	padding: 0;

}


.wrapper{ /*apparently this helps keep divs from moving around*/
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-bottom: 100px; /*helpful so footer divs don't overlap content*/

	
}
#top{
	
}

#logo1 {
	height: 90px;
	display:block;
	float: left;
	padding: 5px;

}

#banner-text{
	padding: 40px 25px 0px 10px;
	display: block;
	float: left;
	height: 35px;
	
}
#top{
	padding-bottom: 20px;
}

#nav{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	list-style-type: none;
	margin: 0;
	padding: 50px;
	white-space: nowrap;
	background-color: #cd252b;
	min-width: 1000px;
}

#first{
	padding-left: 50px;
}

#nav li{
	display:inline-block;
	white-space: nowrap;
	
}


#nav a{
	padding: 15px;
	padding-top: 30px;
	padding-bottom: 43px; /*this is to align hover border with bottom edge*/
	color: #fff;
}

#nav a:link{
	
	text-decoration: none;
}

#nav a:hover{
	border-bottom: 8px solid #f0f0f0;
	/*background: pink;*/
	/*color: #f0f0f0;*/
}

#nav a:visited{
	text-decoration:none;
}

#social-media{
	width: 100%;
	height: 50px;
	background: #f0f0f0;
	float: left;
	margin-top: 100px;
}

#footer{
	width: 100%;
	height: 200px;
	background: #201a16;
	float:left
}

#footer h4{
	color: white;
	text-align: center;
}
