#lh-nav{
/*	position:absolute;
	left: 150px;
*/	
	float: left;
	display:inline;
	/*margin-right: 460px; /*force the lh-nav and page-content to be side by side*/	
	width: 100px;
	border: 3px black double;
	
}

#lh-nav ul{
	list-style-type: none;
	padding-left: 75px;
}
#lh-nav li{
	font-size: 20px;
	padding-bottom: 15px;
}

#lh-nav a{
	color: #252525;
}
#page-content{
	display: inline;
	float: right;
	margin: 0 auto;
	width: 500px;
	border: 5px black double;

}