.wrap_image{ /*for images with text wrapped around them*/
	float: right;
	margin: 10px;
}

#test_img{
	height:150px;
}

#lh-nav{
/*	position:absolute;
	left: 150px;
*/	
	float: left;
	display:inline;
	/*margin-right: 460px; /*force the lh-nav and page-content to be side by side*/	
	width: 200px;
	
}

#lh-nav ul{
	list-style-type: none;
}
#lh-nav li{
	font-size: 20px;
	padding-bottom: 15px;
}

#lh-nav a{
	color: #252525;
}
#page-content{
	display: inline;
	float: right;
	margin: 0 auto;
	width: 550px;
	padding-right: 200px;
}