vti_encoding:SR|utf8-nl
vti_author:SR|manskrT440s\\manskr
vti_modifiedby:SR|manskrT440s\\manskr
vti_timelastmodified:TR|18 Oct 2015 19:58:19 -0000
vti_timecreated:TR|18 Oct 2015 19:18:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|css/styles.css
vti_nexttolasttimemodified:TW|18 Oct 2015 19:57:28 -0000
vti_cacheddtm:TX|18 Oct 2015 19:58:19 -0000
vti_filesize:IR|2092
vti_cachedlinkinfo:VX|S|../images/pagination.png
vti_cachedsvcrellinks:VX|FSUS|images/pagination.png
