vti_encoding:SR|utf8-nl
vti_author:SR|manskrT440s\\manskr
vti_modifiedby:SR|manskrT440s\\manskr
vti_timelastmodified:TR|18 Oct 2015 22:15:52 -0000
vti_timecreated:TR|18 Oct 2015 02:02:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default.html
vti_nexttolasttimemodified:TW|18 Oct 2015 19:55:06 -0000
vti_cacheddtm:TX|18 Oct 2015 22:15:52 -0000
vti_filesize:IR|1286
vti_cachedlinkinfo:VX|Q|slides1.css Q|slides2.css Q|font-awesome.min.css
vti_cachedsvcrellinks:VX|FQUS|css/slides1.css FQUS|css/slides2.css FQUS|css/font-awesome.min.css
